.redmine_activity_div_with_border {
  font: 10px sans-serif;
  border: 1px solid;
  border-radius: 5px;
  border-color: #ECECEC;

}
.redmine_activity_div_no_border {
  font: 10px sans-serif;
}

/* redmine_activity_monthly begins*/

/*#my_month_title {
  text-align: center;
  font: 15px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  color: #6D6D6D;
  margin-top:20px;
  min-height:30px;
}

#my_month_calendar {
  font: 10px sans-serif;
  border: 1px solid;
  border-radius: 5px;
  border-color: #ECECEC;
}

#my_month_buttons {
  margin-top:20px;
}*/

.redmine_activity_monthly_day_rect {
  fill: #EFEFEF;
}

.redmine_activity_monthly_day_label {
  font: 12px sans-serif;
  fill:  #7A7A7A;
  shape-rendering:crispEdges;
}

.redmine_activity_monthly_date_label {
  shape-rendering:crispEdges;
}

.redmine_activity_monthly_week {
  fill: none;
  stroke: #ECECEC;
  stroke-width: 1px;
  shape-rendering:crispEdges;
    
}
/* redmine_activity_monthly ends */


/* redmine_activity_yearly begins */

.redmine_activity_yearly_month {
  fill: none;
  stroke: #C6C6C6;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.redmine_activity_yearly_month_label {
  fill: #B0B0B0;
}
/* redmine_activity_yearly ends */



/* activity begins */

#my_activity_div {
  border: 1px solid;
  border-radius: 5px;
  border-color: #DDDDDD;
}

#my_activity_label {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  padding:10px;
  background-color: #ECECEC;
  text-align: right;
  font: 10px sans-serif;
  border-bottom: 1px solid;
  border-color: #DDDDDD;
}

#line_graph {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #3cc5de;
}

.area {
  fill: #e7f8eb;
  /*fill: steelblue;*/
}

.path2 {
  stroke: #3cc5de;
  stroke-width: 2px;
  stroke-linejoin: round;
  fill:none;
}

.my_activity_circle {
  stroke: #3cc5de;
  stroke-width: 2px;
  stroke-linejoin: round;
  fill:#3cc5de;
}
 
.my_activity_rect {
  fill: #FFF;
  fill-opacity:0;
}

