<% content_for :head do %>
	<script type="text/javascript">

		$(document).ready(function(){
			$("#bar1_load").click(function() {
				bar1Renderer();
			});			
		});

	</script>
<% end %>

<h1>Bar Graphs</h1>

<div="bar1_outer">
	<div id="bar1" style="height:400px; width:600px;"></div>
	<button type="button" id="bar1_load" class="btn btn-primary" style="margin-top:10px;">Load data</button>
</div>
