<% content_for :head do %>
	<script type="text/javascript">

		$(document).ready(function(){

			$('#tooltip1b').hide();
			var table1 = document.getElementById('labels_table');
		    var array = [[0, 2, 0], [0, 2, 0], [0, 2, 0], [0, 2, 0], [0, 2, 0], [0, 2, 0], [0, 2, 0]];
		    var cell;
		    var test_case_calendar = calendarPlot("chart1",array,["#898989"]);

		    $("#select_calendar").change(function() {
				var select = $('select#select_calendar :selected').val();
				if (select=="empty") {
					test_case_calendar.series[0].data= array;
					test_case_calendar.replot();
					for (var i=0;i<10;i++){
						cell = table1.rows[0].cells[i];
					  	cell.firstChild.data = "  ";
					}
				}
				if (select=="days") {
					calendarDayRenderer('/calendar/' + select, test_case_calendar, table1,["#000000","#868686"]);
				}
				else if (select=="weeks"){
					calendarWeekRenderer('/calendar/' + select, test_case_calendar, table1, ["#000000","#868686"]);
				}
			});
		    
		    calendarTooltip("/tooltip?date=",test_case_calendar,"#chart1","#tooltip1b");
			
		});
	</script>
<% end %>


<h1>Test Cases</h1>

<select id="select_calendar">
	<option value="empty">--Select--</option>
	<option value="weeks">Last 10 weeks</option>
    <option value="days">Last 10 days</option>
</select>

<div id="chart_outer">
	<!--<p id="chart_labels">Labels here!</p>-->
	
	<table id="labels_table" border="0">
		<tr>
			<td id="1" style="width:10.3%"> </td>
			<td id="2" style="width:10%">  </td>
			<td id="3" style="width:10%">  </td>
			<td id="4" style="width:10%">  </td>
			<td id="5" style="width:10%">  </td>
			<td id="6" style="width:10%">  </td>
			<td id="7" style="width:10%">  </td>
			<td id="8" style="width:10%">  </td>
			<td id="9" style="width:10%">  </td>
			<td id="10" style="">  </td>
		</tr>
	</table>

	<div id="chart_inner">
		<div id='chart1' style="height:90px; width:860px;margin:0px;padding:0px;"></div>
	</div>
</div>

<div id="tooltip1b"></div>
