<% content_for :head do %>

	<script type="text/javascript">
	
		$(document).ready(function(){
			$(".year_select").change(function() {
					//$(this > option)[0].attr("disabled", "disabled");
					year_from = $('select#year_from :selected').val();
					year_to = $('select#year_to :selected').val();
					year_to = (Number(year_to) + 1).toString();
					var url = '/my_calendar/' + year_from + '/to/' + year_to;
					var color_range = [ [0,0,"rgb(165,0,38)"],
										[1,1,"rgb(215,48,39)"],
										[2,2,"rgb(244,109,67)"],
										[3,3,"rgb(253,174,97)"],
										[4,4,"rgb(254,224,139)"],
										[5,5,"rgb(255,255,191)"],
										[6,6,"rgb(217,239,139)"],
										[7,7,"rgb(166,217,106)"],
										[8,8,"rgb(102,189,99)"],
										[9,9,"rgb(26,152,80)"],
										[10,10,"rgb(0,104,55)"]
									  ];
					var options = { width:1000, height:200, cellSize:15, padding:3, color_range: color_range, default_color: "#F5F5F5" };
					ajaxYearRenderer(url, "#year", year_from, year_to, options);				
				});	
		});

	</script>

<% end %>


<div id="year_select">
	<select class="year_select" id="year_from">
		<option value="empty">--Select--</option>
		<option value="2009">2009</option>
		<option value="2010">2010</option>
		<option value="2011">2011</option>
    	<option value="2012">2012</option>
	</select>

	<select class="year_select" id="year_to">
		<option value="empty">--Select--</option>
		<option value="2009">2009</option>
		<option value="2010">2010</option>
		<option value="2011">2011</option>
    	<option value="2012">2012</option>
	</select>
</div>

<div id="year"></div>
