<% content_for :head do %>
  <script type="text/javascript">

    $(document).ready(function(){
      var today = getTodaysDate();
      var month = today.getMonth();
      var year =  today.getFullYear();
      var url = '/my_month';
      var color_range = [ [0,0,"rgb(165,0,38)"],
                          [1,1,"rgb(215,48,39)"],
                          [2,2,"rgb(244,109,67)"],
                          [3,3,"rgb(253,174,97)"],
                          [4,4,"rgb(254,224,139)"],
                          [5,5,"rgb(255,255,191)"],
                          [6,6,"rgb(217,239,139)"],
                          [7,7,"rgb(166,217,106)"],
                          [8,8,"rgb(102,189,99)"],
                          [9,9,"rgb(26,152,80)"],
                          [10,10,"rgb(0,104,55)"]
                        ];
      var options = {width:450,color_range: color_range};
      myMonthRenderer(url, "my_month", month,year,options);
    });   

  </script>
<% end %>


<div id="my_month"></div>
