<% content_for :head do %>

  <style>
  
    #ten_days {
      font: 10px sans-serif;
      width:400px;
      height:100px;
      border: 1px solid;
      border-radius: 5px;
      border-color: #ECECEC;
    }

    .day_bar {
      fill: #80B2B2;
    }

    .axis {
      fill: none;
      stroke: #ECECEC;
      stroke-width: 1px;
      shape-rendering: crispEdges;
        
    }

    .day_label{
      font: 10px sans-serif;
      fill:#5A7D7D;
      white-space: pre;
    }

  </style>

  <script type="text/javascript">

    var to_date = getTodaysDate();

    $(document).ready(function(){
      ajaxTenDaysRenderer(to_date);
    });   

  </script>
<% end %>

<div id="ten_days"></div>