<% content_for :head do %>
	<style>
		#year {
		  font: 10px sans-serif;
		  shape-rendering: crispEdges;
		}

		.day {
		  fill: #F5F5F5;

		}

		.month {
		  fill: none;
		  stroke: #C6C6C6;
		  stroke-width: 1px;
		}

		.RdYlGn .q0-11{fill:rgb(165,0,38)}
		.RdYlGn .q1-11{fill:rgb(215,48,39)}
		.RdYlGn .q2-11{fill:rgb(244,109,67)}
		.RdYlGn .q3-11{fill:rgb(253,174,97)}
		.RdYlGn .q4-11{fill:rgb(254,224,139)}
		.RdYlGn .q5-11{fill:rgb(255,255,191)}
		.RdYlGn .q6-11{fill:rgb(217,239,139)}
		.RdYlGn .q7-11{fill:rgb(166,217,106)}
		.RdYlGn .q8-11{fill:rgb(102,189,99)}
		.RdYlGn .q9-11{fill:rgb(26,152,80)}
		.RdYlGn .q10-11{fill:rgb(0,104,55)}
	</style>

	<script type="text/javascript">


		function ajaxYearRenderer(year_from, year_to){
			jQuery.ajax( {       
		        cache: false,
		       //url: '/year_data?from=' + year_from + '?to=' + year_to,
		        url: '/my_calendar/year_from/to/year_to',
		        dataType: "json",
		        success:  function(dataset){
		        	$("#year").html("");
		        	yearRenderer(dataset, year_from, year_to);	
		    	},
		    	error : function(XMLHttpRequest, textStatus, errorThrown) { console.log('Error year calendar ajax!'); }

		    });

		}

		function yearRenderer(dataset, year_from, year_to){
			
			var width = 1000,
		    height = 200,
		    cellSize = 15,	// cell size
		    padding = 3;	// cell padding

		    //var dataset = {"2012-01-25":"5","2012-05-26":"8","2012-04-03":"9","2012-06-25":"3","2012-07-02":"6","2012-02-15":"1","2012-01-05":"2","2012-01-25":"4"};

			var day = d3.time.format("%w"),
			    week = d3.time.format("%U"),
			    percent = d3.format(".1%"),
			    format = d3.time.format("%Y-%m-%d");

			var color = d3.scale.quantize()
			    .domain([0,10])
			    .range(d3.range(11).map(function(d) { return "q" + d + "-11"; }));

			var svg = d3.select("#year").selectAll("svg")
			    .data(d3.range(year_from, year_to))
			  .enter().append("svg")
			    .attr("width", width)
			    .attr("height", height)
			    .attr("class", "RdYlGn")
			  .append("g")
			    .attr("transform", "translate(" + (( (width - (cellSize + padding) * 53) / 2) ) + "," + (height - (cellSize + padding) * 7 - 1) + ")");

			svg.append("text")
			    .attr("transform", "translate(-6," + cellSize * 3.5 + ")rotate(-90)")
			    .style("text-anchor", "middle")
			    .text(function(d) { return d; });

			var rect = svg.selectAll(".day")
			    .data(function(d) { return d3.time.days(new Date(d, 0, 1), new Date(d + 1, 0, 1)); })
			  .enter().append("rect")
			    .attr("class", "day")
			    .attr("width", cellSize)
			    .attr("height", cellSize)
			    .attr("x", function(d) { return (week(d) * (cellSize + padding)) ; })
			    .attr("y", function(d) { return (day(d) * (cellSize + padding)) ; })
			    .datum(format);

			rect.append("title")
			    .text(function(d) { return d; });

			svg.selectAll(".month")
			    .data(function(d) { return d3.time.months(new Date(d, 0, 1), new Date(d + 1, 0, 1)); })
			  .enter().append("path")
			    .attr("class", "month")
			    .attr("d", monthPath);

			rect.filter(function(d) { return d in dataset; })
			      .attr("class", function(d) { return "day " + color(dataset[d]); })
			    .select("title")
			      .text(function(d) { return d + ": " + dataset[d]; });
			

			function monthPath(t0) {
			  var t1 = new Date(t0.getFullYear(), t0.getMonth() + 1, 0),
			      d0 = +day(t0), w0 = +week(t0),
			      d1 = +day(t1), w1 = +week(t1);
			  return "M" + (w0 + 1) * (cellSize+padding) + "," + d0 * (cellSize+padding)
			      + "H" + w0 * (cellSize+padding) + "V" + 7 * (cellSize+padding)
			      + "H" + w1 * (cellSize+padding) + "V" + (d1 + 1) * (cellSize+padding)
			      + "H" + (w1 + 1) * (cellSize+padding) + "V" + 0
			      + "H" + (w0 + 1) * (cellSize+padding) + "Z";
			}

			d3.select(self.frameElement).style("height", "2910px");
		};



	
	$(document).ready(function(){
		$(".year_select").change(function() {
				year_from = $('select#year_from :selected').val();
				year_to = $('select#year_to :selected').val();

				if (year_from =="empty" || year_to =="empty") {
						$("#year").html("");
				}

				else {
					ajaxYearRenderer(year_from, (Number(year_to) + 1).toString() );
				}
			});	
	});

	</script>

<% end %>


<div id="year_select">
	<select class="year_select" id="year_from">
		<option value="empty">--Select--</option>
		<option value="2009">2009</option>
		<option value="2010">2010</option>
		<option value="2011">2011</option>
    	<option value="2012">2012</option>
	</select>

	<select class="year_select" id="year_to">
		<option value="empty">--Select--</option>
		<option value="2009">2009</option>
		<option value="2010">2010</option>
		<option value="2011">2011</option>
    	<option value="2012">2012</option>
	</select>
</div>

<div id="year"></div>
<%= "params.." %>
<%= params %>